body{
    font-family: Helvetica;
    background-color: hsl(195, 100%, 95%);
    color: hsl(0, 0%, 30%);
}

h1{
    color: hsl(0, 0%, 30%);
}

form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 25%);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: hsl(210, 100%, 50%);
    color: hsl(0, 0%, 90%);
    font-size: 1.5em;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: 	hsl(210, 100%, 60%);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}
